<div class="body">
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book %> <!--New bookの部分テンプレート-->
      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Books</h2>
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th><!--ProfileImage--></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <%= link_to user_path(book.user.id) do %>
                    <%= image_tag @user.get_profile_image(80, 80) %>
                  <% end %>
                </td>
                <td><%= link_to book.title, book_path(book) %></td> <!--book_path(詳細表示)で(|book|)の投稿(.id)を持ってくる-->
                <td><%= book.body %></td>
                <!--いいねの部分テンプレート-->
                <td>
                  <%= render 'favorites/favorite', book: book %>
                </td>
                <td>コメント数：<%= book.book_comments.count %></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>