<div>
  <div class="container">
    <div class="col-sm-12 col-md8 col-lg-5 px-5 px-sm-0 mx-auto">

      <h2>Editing Book</h2>

      <% if @book.errors.any? %>
        <h4><%= @book.errors.count %> error prohibited this obj from being saved:</h4>
        <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <!--投稿編集フォーム-->
      <%= form_with model:@book, local:true do |f| %>
        <div class="field row">
          <%= f.label :Title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="field row">
          <%= f.label :Opinion %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-success" %>
        </div>

        <div class="link">
          <%= link_to "Show", book_path(@book.id) %>
          <%= "  |  " %>
          <%= link_to "Back", books_path %>
        </div>
      <% end %>

    </div>
  </div>
</div>