<div class="body">
  <div class="container">



    <div class="row">
      <div class="col-md-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render 'books/newbook', book: @book_new %> <!--New bookの部分テンプレート-->
      </div>

      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= image_tag @book.user.get_profile_image(80, 80) %>
                  <%= @user.name %>
                <% end %>
              </td>

              <td>
                <%= link_to book_path(@book.id) do %>
                  <%= @book.title %>
                <% end %>
                <%= @book.body %>
              </td>

              <td>
                <% if @book.user == current_user %>
                  <%= link_to edit_book_path(@book), class: "btn btn-sm btn-success" do %>
                    Edit
                  <% end %>
                <% end %>
              </td>

              <td>
                <% if @book.user == current_user %>
                  <%= link_to book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-sm btn-danger" do %>
                    Destroy
                  <% end %>
                <% end %>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>